* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

a
{
    text-decoration: none;
    color: inherit;
}

.bttn {
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    background-color: #9370DB;
    border-color: transparent;
    border-bottom: 5px solid #715aa1;
    padding: 15px 15px;
}

#nav_panel 
{
    background-color: #715aa1;
    min-height: 100vh;
    min-height: 100vh;
    min-width: 15vw;
    max-width: 15vw;
    display: inline-block;
    float: left;
    color: white;
}

#nav_panel > p
{
    text-align: center;
    font-weight: bold;
}

#display_panel 
{
    display: inline-block;
    float: left;
    min-height: 100vh;
    min-height: 100vh;
    min-width: 85vw;
    max-width: 85vw;
}

#display_panel > div
{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    font-size: 1.3rem;
}

#title 
{
    font-size: 3rem;
    display: inline-block;
}

#logout_form 
{
    display: inline-block;
    float: right;
}

.input_box_style 
{
    margin-top: 5px;
    border: 1px solid black;
    height: 2.5rem;
    width: 200px;
    color: grey;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}

.input_box_style:focus 
{
    outline-color: #715aa1;
}

.nav_bttn
{
    color: white;
    background: none;
    border: none;
    margin-left: 50px;
    cursor: pointer;
}